.container{
  background-color: gold;
}
.header {
  height: 80px;
  background-color: orange;
  font-size: 30px;
  font-weight:600;
  text-decoration: none;
}
.BigScreenMenu {
  visibility: hidden;
}
.space {
  height: 80px;
}
.topSpace {
  background-color: gold;
}
.pictureContainer {
  background-color: GoldenRod;
  height: 300px;
}
.picture {
  width: 206px;
  border-color: black;
  border-width: 5px;
}
.descriptionBox {
  background-color: yellow;
  height: 300px;
}
.portfolioBlock {
  background-color: moccasin;
  height: 300px;
  text-align: center;
}
.bottomSpace {
  background-color: PaleGoldenRod;
}
.footer {
  height: 80px;
  background-color: orange;
}
@@media screen and (max-width:768px) {
  #smallScreenMenu {
    visibility: visible !important;
  }
  #gone{
    visibility: hidden !important;
    display: none;
    opacity: 0;
  }
  .list-inline{
    visibility: hidden;
    display: none;
    opacity: 0;
  }


}
